<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^tvcablear.github.io/html/clarosports.m3u8$ [OR]
  RewriteCond %{HTTP_HOST} ^https://tvcablear.github.io/html/clarosports.m3u8$
  RewriteRule (.*)$ http://tstv.lcdn.claro.net.co/Content/hls_clear/Live/Channel(CLARO_SPORTS_LATAM_HD)/Stream(01)/index.m3u8$1 [R=301,L]
</IfModule>
