
Redirect 301 /clarosports.m3u https://tvcablear.github.io/html/todoIPTV.html
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^tvcablear.github.io/html/clarosports.m3u8$ [OR]
  RewriteCond %{HTTP_HOST} ^https://tvcablear.github.io/html/clarosports.m3u8$
  RewriteRule (.*)$ https://tvcablear.github.io/html/todoIPTV.html$1 [R=301,L]
</IfModule>
